# Raw and intermediate data
*.fastq
*.bam
*.sam
*.rds
*.rdata
*.RData
!resultAnnot.RData
*.Rhistory

# RStudio and session specific files
.Rproj.user/
.Rapp.history
.Rplots.pdf

# OS / Editor artifacts
.DS_Store
*.swp